<div class='row'>
    <div class='alert alert-error'>
      {{#if expired}}
        {{{i18n "password_expiry.password_expired"}}}
      {{else}}
        {{{i18n "password_expiry.password_expire_warning" count=daysLeft}}}
      {{/if}}
    </div>
  </div>